nav {
  max-width: 1200px;
  min-height: 80px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-logo {
  max-width: 40px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-item .nav-link {
  position: relative;
  padding-bottom: 0.75rem;
  font-size: 1.8em;
  color: #928a97;
}

.nav-item.selected {
  background-image: url(../assets/images/iconMeuSelected.svg);
  background-size: cover;
  background-position-x: 100%;
}

.nav-item.selected .nav-link {
  color: red;
}

main {
  max-width: 1200px;
  margin: auto;
}

.section {
  max-width: 1200px;
  margin: auto;
}

.section-home {
  position: relative;
  width: 100%;
  min-height: 80vh;
}

.section-home:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/imageHero.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  z-index: -1;
}

.section-home h3 {
  margin-bottom: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.section-home h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.section-home h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.section-home p {
  margin-bottom: 2rem;
  color: #ccc;
}

.social-list {
  display: flex;
  gap: 0.5rem;
}

.social-list .item-social a {
  color: #928a97;
  font-size: 1.5rem;
}

.navigation-button{
  position: absolute;
  bottom: 1rem;
}

/* About */

.section-about {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

.section-about:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 100%;
  background-image: url(/_next/static/media/imageHero.4f986dc3.svg);
  background-repeat: no-repeat;
  transform: rotate(22deg);
  top: -50%;
  left: -50%;
  z-index: -1000;
  background-position: 37% -36%;
}

.image-about {
  width: 80%;
  margin-top: 2rem;
  margin-left: 10rem;
  filter: grayscale(120%);
}

.image-about:before {
  width: 10rem;
  height: auto;
  background-image: url(../assets/images/BG.png);
  top: -3rem;
  left: -4rem;
  z-index: -1;
}

.title-section {
  font-size: 1.5rem;
  color: red;
}
